<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cc.xiaojiang.headerspring">

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".feature.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.ForgetActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".feature.AirKnowledgeActivity"
            android:label="@string/title_activity_air_knowledge"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".feature.AppUpdateActivity"
            android:label="@string/title_activity_app_update"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".feature.ProductListActivity"
            android:label="@string/title_activity_device_choose"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".feature.ConfigInfoActivity"
            android:label="@string/title_activity_config_info"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".feature.WifiConfirmActivity"
            android:label="@string/title_activity_wifi_cofirm"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".feature.PersonalCenterActivity"
            android:label="@string/title_activity_personal_center"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".feature.DeviceListActivity"
            android:label="@string/title_activity_device_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".feature.PersonalInfoActivity"
            android:label="@string/title_activity_device_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".feature.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".feature.DeviceControlActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".feature.HistoryDataActivity"
                  android:label="@string/title_activity_history_data"
                  android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>